<div class="container-fluid ">
  <!--  <div class=" border rounded-lg p-3 my-5 ">-->
  <form [formGroup]="formCreate">
    <h3 class="row d-flex justify-content-center" style="font-size: 17px">Thêm thành viên </h3>
    <hr>
    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Tên đăng nhập <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-sm" formControlName="username" required>
      </div>
      <label class="ml-2 text-success"
             *ngIf="formCreate.get('username').valid">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 27%"
           *ngIf="formCreate.get('username').invalid && formCreate.get('username').touched">
        <span *ngIf="formCreate.get('username').hasError('required')"
              style="font-size: 12px">Vui lòng nhập tên đăng nhập.</span>
        <span
          *ngIf="formCreate.get('username').hasError('pattern')"
          style="font-size: 12px">Tên đăng nhập không hợp lệ.</span>
        <span style="font-size: 12px"
              *ngIf="formCreate.get('username').hasError('invalidName')"> Tên đăng nhập đã tồn tại.
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Email <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text" min="1" class="form-control form-control-sm" formControlName="email">
      </div>

      <label class="ml-2 text-success"
             *ngIf="formCreate.get('email').valid">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 27%;font-size: 12px" *ngIf="formCreate.get('email').invalid &&
      formCreate.get('email').touched">
           <span *ngIf="formCreate.get('email').hasError('required')"
                 style="font-size: 12px">Vui lòng nhập email.</span>
        <span
          *ngIf="formCreate.get('email').hasError('pattern')"
          style="font-size: 12px">email không hợp lệ.</span>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Họ và tên <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text" min="1" class="form-control form-control-sm" formControlName="fullName" required>
      </div>
      <label class="ml-2 text-success"
             *ngIf="formCreate.get('fullName').valid">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 27%;font-size: 12px" *ngIf="formCreate.get('fullName').invalid &&
      formCreate.get('fullName').touched">
           <span *ngIf="formCreate.get('fullName').hasError('required')"
                 style="font-size: 12px">Vui lòng nhập tên.</span>
        <span
          *ngIf="formCreate.get('fullName').hasError('pattern')"
          style="font-size: 12px">Tên không hợp lệ.</span>
      </div>

    </div>

    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Mật khẩu <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="password" class="form-control form-control-sm" formControlName="password" required>
      </div>
      <label class="ml-2 text-success"
             *ngIf="formCreate.get('password').valid">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 27%;font-size: 12px" *ngIf="formCreate.get('password').invalid &&
      formCreate.get('password').touched">

           <span *ngIf="formCreate.get('password').hasError('required')"
                 style="font-size: 12px">Vui lòng nhập mật khẩu.</span>

        <span
          *ngIf="formCreate.get('password').hasError('pattern')"
          style="font-size: 12px">Mật khẩu không hợp lệ.</span>
      </div>
    </div>

    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Nhập lại mật khẩu <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="password" class="form-control form-control-sm" formControlName="confirmPassword" required>
      </div>
      <label class="ml-2 text-success"
             *ngIf="formCreate.get('confirmPassword').valid && !formCreate.hasError('passwordNotMatch')">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 27%;font-size: 12px"
           *ngIf="formCreate.get('confirmPassword').touched && formCreate.get('confirmPassword').invalid">
        <span *ngIf="formCreate.get('confirmPassword').hasError('required')"
              style="font-size: 12px">Vui lòng xác nhận lại mật khẩu.</span>
      </div>
      <div class="text-danger font-italic" role="alert" *ngIf="formCreate.hasError('passwordNotMatch')"
           style="font-size: 12px;margin-left: 27%">
        Mật khẩu không chính xác.
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Ngày sinh <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <mat-form-field>
          <input class="form-control form-control-sm" formControlName="birthday" matInput [matDatepicker]="myDatepicker"
                 [max]="maxDate" [min]="minDate" placeholder="nhập vào ngày sinh">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <label class="ml-2 text-success"
               *ngIf="formCreate.get('birthday').valid">
          <i style="font-size: 15px; margin-left: 27%" class="fas fa-check"></i></label>
      </div>
      <!--        <p *ngIf="formCreate.controls.birthday.errors?.required && formCreate.controls.birthday.touched"-->
      <!--           class="text-danger">Vui lòng nhập ngày sinh</p>-->
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Giới tính <sup class="text-danger">*</sup> </label>
      <div class="col-lg-9 col-md-9 d-flex justify-content-start">
        <div class="radio 4">
          <input id="radio-1" name="radio" type="radio"
                 (click)="valueGenderClick(true)" [checked]="true">
          <label for="radio-1" class="radio-label ml-1">Nam</label>
        </div>
        <div class="radio ml-4 ">
          <input id="radio-2" name="radio" type="radio"
                 (click)="valueGenderClick(false)">
          <label for="radio-2" class="radio-label ml-1">Nữ</label>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center ml-4">
      <div>
        <button class="btn btn-secondary btn btn-sm" style="width: 80px" [mat-dialog-close]="">Hủy</button>
        <button type="submit" class="btn btn-success btn btn-sm mx-4" style="width: 80px" (click)="create()"
        >Thêm
          mới
        </button>
      </div>
    </div>
  </form>
  <!--  </div>-->
</div>
