<div class="container-fluid px-0" style="height: 100vh">
  <div class="col-12-md px-5">
    <div class=" col-12-md text-center" style="margin-right: 90px">
      <h2>Thông tin thành viên</h2>
    </div>
    <div class="mt-3">
      <div class="col-12-md d-flex">
        <div class="col-2-md">
          <button class="btn btn-success " data-toggle1="tooltip"
                  data-placement="top" (click)="openDialogCreate()" title="Thêm thành viên">
            <i class="fas fa-user-plus"></i>
          </button>
        </div>
        <div class="offset-md-9">
          <form class="form-inline ">
            <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Tìm kiếm">
            <button class="btn btn-sm btn-success" type="submit" data-toggle="tooltip"
                    data-placement="bottom" title="Tìm kiếm">
              <i class=" fas fa-search"></i>
            </button>

          </form>
        </div>
      </div>
      <p class="text-primary mt-3" *ngIf="userList != null; else block">Tổng số câu hỏi
        là: {{userList.length}}</p>
      <ng-template #block>
        <small class="font-weight-bold">Tổng số câu hỏi là: 0</small>
      </ng-template>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Mã TV</th>
          <th>Họ và tên</th>
          <th>Tên đang nhập</th>
          <th>Giới tính</th>
          <th>Email</th>
          <th>Tài khoản</th>
          <th style="text-align: center">Tác vụ</th>
        </tr>
        </thead>
        <tbody *ngIf="userList; else blockList">
        <tr *ngFor="let user of userList|paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>TV{{user.idUser}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.username}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.email}}</td>
          <td>{{user.money}}</td>
          <td style="text-align: center">
            <button type="button" class="btn btn-sm  mr-3 "
                    data-toggle="modal" data-toggle1=" tooltip"
                    data-placement="bottom" title="Chi tiết" (click)="openDialogDetail(user.idUser)">
              <i class="fas fa-eye"></i>
            </button>
            <button type="button" class="btn btn-sm btn-warning mr-3 "
                    data-toggle="modal" data-toggle1=" tooltip"
                    data-placement="bottom" title="Sửa" (click)="openDialogEdit(user.idUser)">
              <i class="fas fa-tools"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger mr-3 fas fa-trash-alt" data-toggle="tooltip"
                    (click)="openDialogDelete(user.idUser)" title="Xóa"
            ></button>
          </td>
        </tr>
        </tbody>
        <ng-template #blockList>
          <tbody>
          <tr>
            <td colspan="5"><h4 class="font-weight-bold  text-center">Không có dữ liệu!</h4></td>
          </tr>
          </tbody>
        </ng-template>
      </table>
      <pagination-controls class=" d-flex justify-content-center " (pageChange)="p = $event" previousLabel="Trước"
                           nextLabel="Sau" responsive="true"></pagination-controls>
    </div>
  </div>
</div>
