<div class="col-lg-12 col-md-12 card m-0 p-0">
  <div class="col-md-12 card-header text-center m-0 p-0"
       style=" background: #0b222a;color: #ffbb0b;font-weight: bolder;font-size: 16px">
    Nạp tiền vào tài khoản
  </div>
  <div class="card-body container register  border border-dark text-center">
    <form [formGroup]="formBill">
      <div class="form-group">
        <div class="mt-2">
          <label class="font-weight-bold ">Chọn số tiền
            <select formControlName="idService">
              <option value="" selected [disabled]="true">-- Chọn --</option>
              <option *ngFor="let el of listDeposit" [value]="el.idService">{{el.serviceName}}</option>
            </select>
          </label>
        </div>
        <div>
          <label class="font-weight-bold mt-5 p-0">Hình thức thanh toán <input
            class="form-control form-control-sm ml-2 m-0 p-0"
            type="text" value="Trực tiếp"
            readonly></label>
        </div>
      </div>
    </form>
    <div class="mt-5 mb-2 d-flex justify-content-center">
      <button class="btn btn-sm btn-dark text-light " style="width: 100px" mat-dialog-close=""> Hủy
      </button>
      <button class="btn btn-sm btn-danger ml-5 text-light" [disabled]="this.formBill.invalid" style="width: 100px" role="button" (click)="createDeposit()"> Gửi yêu cầu
      </button>
    </div>
  </div>
  <div class="col-md-12 card-footer m-0 p-0" style="background: #0b222a">
  </div>
</div>

