<div id="app" class="container-fluid">
  <div class="row">
    <div class="card-body">
      <form focusInvalidInput [formGroup]="handleCommentForm">
        <select class="form-control form-control-sm" formControlName="idStatusComputer">
          <!--                    <option>a</option>-->
          <option style="color: black" *ngFor="let status of computerStatuses" [value]="status.idStatusComputer">{{status.statusComputerName}}</option>
        </select>
        <button class="btn btn-success mb-3" id="but_add" (click)="addForm()"><i class="fas fa-plus"></i></button>
        <table class="table table-responsive-md table-sm table-hover table-striped"
               id="makeEditable">
          <thead style="background: #0b222a; color: #ffbb0b">
          <tr class="text-center">
            <th>Stt</th>
            <th>Tên máy</th>
            <th>Tình trạng</th>
            <th>Tên người dùng</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian sử dung</th>
            <th>Số dư tài khoản</th>
            <th>Hành động</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let fg of computers | paginate : { itemsPerPage: 5, currentPage: p }; let i = index">
            <tr *ngIf="fg.statusView == false; else blockId">
              <td class="text-right">{{i + 1}}</td>
              <td class="text-left">{{fg.computerName}}</td>
              <td class="text-center">{{fg.statusComputerName}}</td>
              <td class="text-center">{{fg.fullName}}</td>
              <td class="text-center">{{fg.timeStart}}</td>
              <td class="text-center">{{fg.timeUser}}</td>
              <td class="text-right">{{fg.money}}</td>
              <td class="text-center">
                <div class="btn-group pull-right ">
                  <button type="button" class="btn btn-sm btn-warning mx-2 mb-2 rounded" (click)="changeSelection(fg.idComputer)">
                    <i class="fas fa-tools"></i></button>
                </div>
                <div class="btn-group pull-right " (click)="dialogDeleteComment(fg.idComputer)">
                  <button type="button" class="btn btn-sm btn-danger mx-2 mb-2 rounded">
                    <i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
            <ng-template #blockId>
              <tr>
                <td class="text-center">{{i + 1}}</td>
                <td class="text-left">
                  <input class="form-control form-control-sm" formControlName="computerName">
                  <label class="text-danger d-flex align-self-center " role="alert"
                         *ngIf="handleCommentForm.get('computerName').invalid && handleCommentForm.get('computerName').touched">
                    Vui lòng nhập dữ liệu
                  </label>
                  <span *ngIf="handleCommentForm.get('computerName').hasError('pattern')"
                        style="font-size: 12px">Vui lòng nhập địa chỉ.</span>
                  <span></span>
                </td>
                <td class="text-center">
                  <select class="form-control form-control-sm" formControlName="idStatusComputer">
<!--                    <option>a</option>-->
                    <option style="color: black" *ngFor="let status of computerStatuses" [value]="status.idStatusComputer">{{status.statusComputerName}}</option>
                  </select>
                  <label class="text-danger d-flex align-self-center" role="alert"
                         *ngIf="handleCommentForm.get('idStatusComputer').invalid && handleCommentForm.get('idStatusComputer').touched">
                    Vui lòng chọn
                  </label>
                </td>
                <td class="text-center">
                  <input class="form-control form-control-sm" formControlName="fullName" readonly>
                </td>
                <td class="text-center">
                  <input class="form-control form-control-sm" formControlName="timeStart" readonly>
                </td>
                <td class="text-center">
                  <input class="form-control form-control-sm" formControlName="timeUser" readonly>
                </td>
                <td class="text-center">
                  <input class="form-control form-control-sm" formControlName="money  " readonly>
                </td>
                <td class="text-center">
                  <div class="btn-group pull-right " (click)="editComputer(fg.idComputer)">
                    <button type="button" class="btn btn-sm btn-success mx-2 mb-2 rounded">
                      <i class="fas fa-check"></i></button>
                  </div>
                  <div class="btn-group pull-right " (click)="changeSelection123(fg.idComputer)">
                    <button type="button" class="btn btn-sm btn-danger mx-2 mb-2 rounded">
                      <i class="fas fa-times"></i></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </ng-container>
          </tbody>
        </table>
      </form>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                             nextLabel="Sau"
                             responsive="true"></pagination-controls>
      </div>
    </div>
  </div>
</div>
