<ng2-smart-table [settings]="settings"></ng2-smart-table>
<div id="choose">
</div>
<p class="text-weight">"Số máy đang có là: "<span id="myText"></span></p>
<div class="container-fluid mt-3">
  <div class="row card-body">
    <div class="col-lg-12">
      <span>Tìm kiếm máy</span>
      <select id="myInput" class="custom-select custom-select-sm col-lg-2">
        <option value="">Chọn</option>
        <option value="Hoạt động">Hoạt động</option>
        <option value="Không dùng">Không dùng</option>
        <option value="Máy hỏng">Máy hỏng</option>
      </select>
      <button id="but_add" style="float: right" class="btn btn-sm btn-success m-2">Thêm mới</button>
    </div>
    <div class="col-12" style="overflow: auto;">
      <table class=" table table-bordered-md paginated" id="makeEditable">
        <thead style="background: #96a2af">
        <tr>
          <th class="text-center">Tên máy</th>
          <th class="text-center" >Tình trạng</th>
          <th class="text-center">Tên người dùng</th>
          <th class="text-center">Thời gian bắt đầu</th>
          <th class="text-center">Thời gian sử dụng (giờ:phút)</th>
          <th class="text-center">Tiền dịch vụ</th>
          <th class="text-center">Số dư tài khoản</th>
          <th class="text-center">Hành động</th>
        </tr>
        </thead>
        <tbody id="myTable">
        <tr class="success" *ngFor="let computer of computers">
<!--          <td class="text-left">{{computer.idComputer}}</td>-->
          <td class="text-left">{{computer.computerName}}</td>
          <td class="text-left">{{computer.statusComputer.statusComputerName}}</td>
          <td class="text-left" *ngFor="let user of computer.users">{{user.fullName}}</td>
          <td class="text-center">{{computer.timeStart}}</td>
          <td class="text-center">{{computer.timeUser}}</td>
          <td class="text-right">{{computer.users.money}}</td>
          <td class="text-left" *ngFor="let user of computer.users">{{user.money}}</td>
          <td>
            <div class="btn-group pull-right ">
              <button type="button" class="btn btn-warning ml-2 rounded">
                <i class="fas fa-tools"></i>
              </button>
            </div>
            <button type="button" class="btn btn-danger ml-2 rounded" data-toggle="modal" data-target="#exampleModal">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
  </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa đối tượng!!
        <p class="text-danger">!! Lưu ý : Không thể hoàn tác</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-sm btn-danger"  data-dismiss="modal" id="bElim" onclick="deleteRow(i)">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
