<div style="background-color: black">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-0" style="background-color: #1b1e21">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav topnav" style="margin-left: 87px">
          <li class="nav-item text-center" style="width: 125px">
            <a class="nav-link text-white font-text" href="/"><span
              class="font-text">TRÒ CHƠI VÀ ỨNG DỤNG</span></a>
          </li>
          <li class="nav-item text-center" style="width: 125px">
            <a class="nav-link text-white font-text mt-2">VÉ TRỌN GÓI</a>
          </li>
          <li class="nav-item text-center" style="width: 125px">
            <a class="nav-link text-white font-text mt-2">DỊCH VỤ</a>
          </li>
          <li class="nav-item text-center" style="width: 125px">
            <a class="nav-link text-white font-text mt-2">TIN TỨC</a>
          </li>
          <li class="nav-item text-center" style="width: 125px">
            <a class="nav-link text-white font-text mt-2">TỆP</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xs-12" style="background: #f9f4f4; height: 50px"></div>
        <div class="col-md-6 col-xs-12"></div>
        <div class="col-md-3 col-xs-12" style="background: #f9f4f4;"></div>
      </div>
    </div>
  </header>
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-md-4 col-xs-12" style="background-color: #1b1e21">
        <h2 class="d-flex justify-content-center" style="color: white">Thuê máy</h2>
        <div class="container register">
          <div class="row">
            <div class="col-md-12 register-right">
              <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link " id="home-tab" data-toggle="tab" href="#home"
                     aria-selected="true" style="color: white; background: #1b1e21">Theo giờ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile"
                     aria-selected="false" style="color: white; background: #1b1e21">Theo ngày</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="container">
                    <div class="row mt-4">
                      <h3 class="col-md-6">8h</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-15USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">10h</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-25USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">24h</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-100USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">36h</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-120USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">48h</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-150USD</button>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="container">
                    <div class="row mt-4">
                      <h3 class="col-md-6">1 Ngày</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-100USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">2 Ngày</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-150USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">3 Ngày</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-190USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">4 ngày</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-230USD</button>
                    </div>
                    <div class="row mt-5">
                      <h3 class="col-md-6">5 ngày</h3>
                      <button class="col-md-6 btn btn-outline-warning text-white">Mua-250USD</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-3"></div>
      <div class="col-md-4 col-xs-12" style="background-color: #1b1e21">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active mt-2 text-center">
              <img src="../../../assets/image-page/imageb.jpg" height="90%" width="90%"/>
              <div class="">
                <h3>Giảm giá.</h3>
                <p>Duy nhất hôm nay!</p>
              </div>
            </div>
            <div class="carousel-item mt-2 text-center">
              <img src="../../../assets/image-page/imagea.jpg" height="90%" width="90%"/>
              <!--                        <img src="imageb.jpg" height="90%" width="90%"/>-->
              <div class="">
                <h3>Giảm giá.</h3>
                <p>Duy nhất hôm nay!</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-next justify-content-end" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
      <div class="mx-3"></div>
      <div class="col-md-3 col-xs-12" style="background-color: #1b1e21">
        <div class="container-fluid row">
          <div class="col-md-6 mt-1 d-flex">
            <img src="../../../assets/image-page/imageh.png" style="border-radius:40px " height="80%" width="40%"/>
            <p class="font-weight-bold ml-2">Tom & Jerry</p>
          </div>
          <div class="col-md-6 mt-2">
            <button class="btn btn-secondary" (click)="openBoxRequest()">Thông tin</button>
          </div>
        </div>
        <hr>
        <div class="container-fluid row">
          <div class="col-md-6">
            <div class="row">Ngừng sau-hh:mm.</div>
            <div class="row">
              <h4>100:20</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">Giá cước.</div>
            <div class="row">
              <h4>2USD/h</h4>
            </div>
          </div>
        </div>
        <hr>
        <div class="container-fluid row">
          <div class="col-md-6">
            <div class="row">Số dư * -></div>
            <div class="row">
              <h4>1000.00</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">Phí dịch vụ(USD).</div>
            <div class="row">
              <h4>10</h4>
            </div>
          </div>
        </div>
        <button class="container-fluid col-11 ml-1 mt-2 btn btn-danger vw-100">Nạp vào tài khoản</button>
        <hr>
        <div class="container-fluid ">
          <div class="col-12">
            <div class="row">Các mục ưa thích.</div>
            <div class="row mt-2">
              <img src="../../../assets/image-page/imagee.png" height="40" width="48"/>
              <div class="mx-1"></div>
              <img src="../../../assets/image-page/imagef.jpg" height="40" width="48"/>
            </div>
          </div>
        </div>
        <hr>
        <div class="  row">
          <div class="col-md-6">Đơn hàng cuối.</div>
          <div class="col-md-1"></div>
          <div class="col-md-5">Trạng thái -></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
    <div class="footer-copyright text-center py-1 fixed-bottom bg-dark">
      <p class="text-white"> @2020 CodeGym</p>
    </div>
  </footer>
</div>
