<style>
  table tr.total td:nth-child(5) {
    border-top: 1px solid #508679;
  }
  table tr.total1 td:nth-child(4) {
    border-top: 1px solid #508679;
  }
</style>
<div class="col-lg-12 col-md-12 card m-0 p-0">
  <div class="col-md-12 card-header text-center m-0 p-0"
       style=" background: #0b222a;color: #ffbb0b;font-weight: bolder;font-size: 20px">
    Chi tiết dịch vụ
  </div>
  <div class="card-body container register  border border-dark">
    <div class="container-fluid col-lg-12 col-md-12 text-center">
      <div class="col-lg-12 row">
        <div class="col-md-9 m-0 p-0">
          <div class="col-md-12 d-flex form-group">
            <label class="col-md-5 justify-content-start text-left ">Tên máy</label>
            <input type="hidden" [value]="idBill">
            <input type="text" class="col-md-7 form-control form-control-sm " value="Máy 01"
                   readonly>
          </div>
          <div class="col-md-12 d-flex form-group">
            <label class="col-md-5 justify-content-start text-left ">Tên tài khoản</label>
            <input type="text" class="col-md-7  form-control form-control-sm " [value]="userName"
                   readonly>
          </div>
          <div class="col-md-12 d-flex form-group">
            <label class="col-md-5 justify-content-start text-left ">Số dư tài khoản</label>
            <input type="text" class="col-md-7  form-control form-control-sm " [value]="moneyAccount"
                   readonly>
          </div>
        </div>
        <div class="col-md-3 m-0 p-0 justify-content-between">
          <img class="card-img-overlay m-0 p-0 ml-2" src="../../../../assets/image-page/logo.png" style="width: 130px;height: 105px" />
        </div>
      </div>
      <div class="col-md-12 mt-1">
        <p class="ml-3 text-left">Chi tiết dịch vụ</p>
        <table class="table table-hover" *ngIf="code!== 4">
          <tr style="height: 15px;font-size: 13px">
            <th class="text-left">Stt</th>
            <th class="text-left">Tên</th>
            <th class="text-right">Giá (VNĐ)</th>
            <th class="text-right">Số lượng</th>
            <th class="text-right">Thành tiền (VNĐ)</th>
          </tr>
          <tbody>
          <tr *ngFor="let bill of billServices,let i=index" style="font-size: 13px">
            <td class="text-right">{{i + 1}}</td>
            <td class="text-left">{{bill.nameService}}</td>
            <td class="text-right">{{bill.priceService}}</td>
            <td class="text-right">{{bill.quantityBook}}</td>
            <td class="text-right">{{bill.quantityBook * bill.priceService}}</td>
          </tr>
          </tbody>
          <tr class="total" style="font-size: 13px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">Tổng tiền: {{totalPaymentMoney}} (VNĐ)</td>
          </tr>
        </table>
        <table class="table table-hover" *ngIf="code === 4">
          <tr style="height: 15px;font-size: 13px">
            <th class="text-left">Stt</th>
            <th class="text-left"></th>
            <th class="text-right">Giá (VNĐ)</th>
            <th class="text-right">Thành tiền (VNĐ)</th>
          </tr>
          <tbody>
          <tr *ngFor="let deposit of billDeposit,let i=index" style="font-size: 13px">
            <td class="text-right">{{i + 1}}</td>
            <td class="text-left">{{deposit.nameService}} vào tk</td>
            <td class="text-right">{{deposit.priceService}}</td>
            <td class="text-right">{{deposit.quantityBook * deposit.priceService}}</td>
          </tr>
          </tbody>
          <tr class="total1" style="font-size: 13px">
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">Tổng tiền: {{totalPayDeposit}} (VNĐ)</td>
          </tr>
        </table>
        <p *ngIf="status==true" class="text-right text-success font-italic"> Đã thanh toán</p>
        <p *ngIf="status==false" class="text-right text-danger font-italic"> Chưa thanh toán</p>
      </div>
    </div>
    <div class=" mt-3 d-flex justify-content-center">
      <button class="btn btn-sm btn-dark " style="width: 100px;font-weight: bolder" mat-dialog-close=""> Đóng</button>
      <button class="btn btn-sm btn-danger ml-5 " style="width: 100px;font-weight: bolder" *ngIf="status == true && code !==4"
              (click)="openDialogSetStatus(idBill)"> Chấp nhận
      </button>
      <button class="btn btn-sm btn-danger ml-5 " style="width: 100px;font-weight: bolder" *ngIf="status == false && code !==4"
              (click)="openDialogSetStatus(idBill)">Thanh toán
      </button>
      <button class="btn btn-sm btn-warning ml-5 " style="width: 100px;font-weight: bolder" *ngIf="code == 4 && status === false"
              (click)="openDialogPayDeposit(idBillService)">Thanh toán
      </button>
      <button class="btn btn-sm btn-success ml-5 " style="width: 100px;font-weight: bolder" *ngIf="code == 4 && status === true"
              (click)="openDialogSetStatus(idBill)">Chấp nhận
      </button>
    </div>
  </div>
  <div class="col-md-12 card-footer m-0 p-0" style="background: #0b222a">
  </div>
</div>

