<div class="container-fluid row ">
  <div class="col-md-3 abc border border-dark" style="background-color: #5f5f5f">

    <div class="row d-flex justify-content-center">
      <img src="../../../assets/image-page/d.png" height="30%" width="30%"/>
      <h3 class="text-center mt-5">Đăng nhập</h3>
    </div>


    <div class="input-group mt-2">
      <div class="input-group-prepend">
                <span class="input-group-text" id="username-addon">&nbsp;<i class="fas fa-user"
                                                                            style="color: #5f5f5f"></i>&nbsp;</span>
      </div>
      <input id="email" type="text" class="form-control" name="email" placeholder="Email" style="height: 45px">
    </div>
    <br>
    <div class="input-group mt-1">
      <div class="input-group-prepend">
        <span class="input-group-text">&nbsp;<i class="fas fa-lock" style="color: #5f5f5f"></i>&nbsp;</span>
      </div>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password"
             style="height: 45px">
    </div>
    <br>
    <div class="input-group">
      <button class="form-control rounded btn btn-danger">Đăng nhập</button>
    </div>
    <a href="#" class="d-flex justify-content-end">Tạo tài khoản mới ?</a>
    <div class="row mt-2">
      <div class="col-md-3">
        <hr>
      </div>
      <div class="col-md-6">Hoặc đăng nhập qua</div>
      <div class="col-md-3">
        <hr>
      </div>
    </div>
    <div class="container-fluid justify-content-center row mt-2">
      <button class="btn btn-secondary col-md-5"><i class="fab fa-facebook-f" style="color: #574bff"></i>&nbsp;Facebook
      </button>
      <div class="mx-2"></div>
      <button class="btn btn-secondary col-md-5"><i class="fab fa-google" style="color: red"></i>&nbsp;Google
      </button>
    </div>
    <br>
    <br>
  </div>
</div>
