<div class="card login-form">
  <div class="card-body">
    <div class="row">
      <h3 class="card-title offset-3">Đặt lại mật khẩu</h3>
      <div class="offset-3">
        <button class="btn-light" matDialogClose><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-text" *ngIf="checkCode == false; else blockCode">
      <form (ngSubmit)="sendEmailReset()" [formGroup]="sendEmail" *ngIf="checkEmail== false; else block">
        <div class="form-group">
          <label>Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của
            bạn.</label>
          <input type="email" class="form-control form-control-sm" placeholder="nhập email liên kết."
                 formControlName="email">
          <div class="text-danger"
               *ngIf="sendEmail.get('email').invalid && sendEmail.get('email').touched">Email không đúng định dạng.
          </div>
          <div class="text-danger"
               *ngIf="checkResultEmail== false">Email này chưa liên kết với tài khoản nào.
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Gửi email đặt lại mật khẩu</button>
      </form>
      <ng-template #block>
        <div class="form-group">
          <label>Nhập mã xác nhận.</label>
          <input type="text" class="form-control form-control-sm" placeholder="nhập mã xác nhận gửi tới mail của bạn."
                 #confirm>
          <div class="text-danger">{{message}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="confirmPassword(confirm.value)">Xác nhận
        </button>
      </ng-template>
    </div>
    <ng-template #blockCode>
      <div class="card-text">
        <form (ngSubmit)="resetPassword()" [formGroup]="reset">
          <div class="form-group">
            <label>Nhập mật khẩu mới.</label>
            <input type="password" class="form-control form-control-sm" placeholder="nhập mật khẩu mới."
                   formControlName="passwordNew">
            <div *ngIf="reset.get('passwordNew').invalid && reset.get('passwordNew').touched">
              <span class="text-danger" *ngIf="reset.get('passwordNew').hasError('required')">Vui lòng nhập mật khẩu.</span>
              <span class="text-danger" *ngIf="reset.get('passwordNew').hasError('pattern')">yêu cầu phải lớn hơn 6 ký tự và không có ký tự đặc biệt.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Xác nhận lại mật khẩu.</label>
            <input type="password" class="form-control form-control-sm" placeholder="xác nhận lại mật khẩu." formControlName="confirmPassword">
            <div  *ngIf="reset.get('confirmPassword').touched && reset.get('confirmPassword').invalid">
               <span class="text-danger" *ngIf="reset.get('confirmPassword').hasError('required')">Vui lòng xác nhận lại mật khẩu.</span>
            </div>
            <div class="text-danger" role="alert" *ngIf="reset.hasError('passwordNotMatch')">Mật khẩu không chính xác.
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Đặt lại mật khẩu</button>
        </form>
      </div>
    </ng-template>
  </div>
</div>
