<h3 class="text-center text-dark ">Đổi mật khẩu</h3>
<hr class="border-dark">
<form focusInvalidInput class=" form-inline p-1 m-0 " style="width: 95%" [formGroup]="formChangePassword">
  <div class="container col-lg-12 col-md-12 p-1 m-1">
    <div class=" form-group mt-2">
      <label class="col-sm-4 col-form-label">Mật khẩu mới <sup class="text-danger">*</sup> </label>
      <input id="newPass" type="password" class="col-lg-7 col-md-7 form-control form-control-sm " formControlName="newPassword"
             placeholder="Mật khẩu từ 6 đến 30 kí tự">
      <label class="col-lg-1 col-md-1 text-success" *ngIf="formChangePassword.get('newPassword').valid">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 34%;font-size: 12px" *ngIf="formChangePassword.get('newPassword').invalid &&
      formChangePassword.get('newPassword').touched">
           <span *ngIf="formChangePassword.get('newPassword').hasError('required')"
                 style="font-size: 12px">Vui lòng nhập mật khẩu.</span>
        <span
          *ngIf="formChangePassword.get('newPassword').hasError('pattern')"
          style="font-size: 12px">Mật khẩu không hợp lệ.</span>
      </div>
    </div>
    <div class=" form-group  mt-2">
      <label class="col-sm-4 col-form-label">Xác nhận mật khẩu <sup class="text-danger">*</sup> </label>
      <input id="confirm" type="password" class="col-lg-7 col-md-7 form-control form-control-sm " formControlName="confirmPassword">
      <label class="col-lg-1 col-md-1 text-success"
             *ngIf="formChangePassword.get('confirmPassword').valid && !formChangePassword.hasError('passwordNotMatch')">
        <i style="font-size: 15px" class="fas fa-check"></i></label>
      <div class="text-danger font-italic" role="alert" style="margin-left: 34%;font-size: 12px"
           *ngIf="formChangePassword.get('confirmPassword').touched && formChangePassword.get('confirmPassword').invalid">
        <span *ngIf="formChangePassword.get('confirmPassword').hasError('required')"
              style="font-size: 12px">Vui lòng xác nhận lại mật khẩu.</span>
      </div>
      <div class="text-danger font-italic" role="alert" *ngIf="formChangePassword.hasError('passwordNotMatch')" style="font-size: 12px;margin-left: 25%">
        Mật khẩu không chính xác.
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex " style="margin-left: 30%">
    <button class="btn btn-secondary  btn-sm mr-4 " mat-dialog-close role="button" style="width: 80px">Hủy</button>
    <button class="btn btn-success  btn-sm " type="submit" (click)="changePass()"> Đổi mật khẩu</button>
  </div>
</form>


