<div class="container-fluid">
  <h3 class="row d-flex justify-content-center">Thông tin thành viên </h3>
  <hr>
  <div class="row">
  <div class="col-8 row">
    <div class="col-5">
      <p>Tên đăng nhập: </p>
      <p>Email: </p>
      <p>Họ và tên: </p>
      <p>Ngày sinh: </p>
      <p>Giới tính: </p>
    </div>
    <div class="col-7">
      <p>{{username}}</p>
      <p>{{email}}</p>
      <p>{{fullName}}</p>
      <p>{{birthday|date: 'dd/LL/yyyy'}}</p>
      <p>{{gender}}</p>
    </div>
    <div class="offset-md-3">
      <button class="btn btn-secondary mt-3 btn btn-sm" [mat-dialog-close]="" >Đóng</button>
    </div>

  </div>
  <div class="col-4">
    <div class="row">
      <input type="image"
             src="{{image}}"
             style="width: 80%" data-toggle1="tooltip"
             data-placement="top" title="Chọn ảnh"/>
      <input type="file" id="my_file" style="display: none;"/>
    </div>
    <div class="offset-md-2">
      <button class="btn btn-sm btn-success mt-3">Cập nhật</button>
    </div>
  </div>
  </div>
</div>
