.drop{
  color: white;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}
.font-text{
  font-size: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

a:hover{
  background-color: black;
}
